# Configuracion de BD (NUNCA subir esto)
db.properties
*.properties

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Compilados Java
*.class
*.jar
target/
bin/

# MacOS
.DS_Store